{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="list-group">
            <ul>
                {% for superhero in superheroes %}
                    <a href="{{ path('detail', {'id' : superhero.id}) }}" class="list-group-item active">
                        {{ superhero.name }}
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}




