{% extends 'base.html.twig' %}

{% block body %}
    <h1>Superheroes:</h1>
    <ul>
        {% for superhero in superheroes %}
            <li>
                <a href="{{ path('detail', { 'id': superhero.id }) }}">{{ superhero.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
