{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {%for team in teams%}
                <div class="col-md-6 col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading"> <h2>{{team.name}}</h2></div>
                        <div class="panel-body">
                            <div class="col-md-6">
                                <ul>
                                    <li>Nome Reale: {{team.name}}</li>
                                    <li>HQ: {{team.hq}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
{% endblock %}
